# Operating System Files
.DS_Store
Thumbs.db
desktop.ini
*.tmp

# Environment Variables & Secrets
.env
.env*.local
*.env
*.pem
*.key
secrets/

# Dependencies & Build Caches
node_modules/
.vercel
dist/
build/
*.log
*.exe
.godot/
vale_afesu_godot/.godot/

# Editor & IDE Configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sublime-*

.vercel
